.liisi-wrapper{
	display: flow;
}

.liisi_logo{
    margin: 5px 0px 5px 0px;
    display: inline;
}

.liisi_logo img{
	float:left;
	max-width: 70px;
	margin-right: 5px
}

.liisi_logo p{
	font-weight: bold;
    font-size: 13px;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 100%;
}

li.payment_method_holm_liisi img, li.payment_method_holm_liisi3 img{
	display: inline-block;
	width: 70px;
	float:none !important;
	max-width: 80px !important;
	margin-left: 5px;
	max-height: 2.5em;
}